<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Big Star</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/img/favicon.ico}"
      href="../static/img/favicon.ico"
    />

    <!-- CSS here -->
    <link
      rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../static/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/owl.carousel.min.css}"
      href="../static/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slicknav.css}"
      href="../static/css/slicknav.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/flaticon.css}"
      href="../static/css/flaticon.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/progressbar_barfiller.css}"
      href="../static/css/progressbar_barfiller.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/gijgo.css}"
      href="../static/css/gijgo.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/animate.min.css}"
      href="../static/css/animate.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/animated-headline.css}"
      href="../static/css/animated-headline.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/magnific-popup.css}"
      href="../static/css/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fontawesome-all.min.css}"
      href="../static/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/themify-icons.css}"
      href="../static/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slick.css}"
      href="../static/css/slick.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/nice-select.css}"
      href="../static/css/nice-select.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img
              th:src="@{/img/logo/loder.png}"
              src="../static/img/logo/loder.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!-- Header Start -->
      <div class="header-area header-transparent">
        <div class="main-header header-sticky">
          <div class="container-fluid">
            <div
              class="
                menu-wrapper
                d-flex
                align-items-center
                justify-content-between
              "
            >
              <!-- Logo -->
              <div class="logo">
                <a th:href="@{/}" href="index.html"
                  ><img
                    th:src="@{/img/logo/logo.png}"
                    src="../static/img/logo/logo.png"
                    alt=""
                    width="120px"
                    height="40px"
                /></a>
              </div>
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html"> </a></li>
                    <!-- <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="help.html">Help</a></li> -->
                  </ul>
                </nav>
              </div>
              <!-- Header-btn -->
              <div class="header-btns d-none d-lg-block f-right">
                <a href="#" class="btn">Sign In</a>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
      <!-- Hero Area Start-->
      <div class="slider-area subpage">
        <div class="single-slider slider-height-sub d-flex align-items-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9">
                <!-- Hero Caption -->
                <div class="hero__caption">
                  <p>Big Data System Design</p>
                  <h1>Food analysis using Instagram data</h1>
                </div>
                <!--Hero form -->
                <form action="about.html" th:action="@{/search}" class="search-box">
                  <div class="input-form">
                    <input id="foodName" name="foodName" type="text" placeholder="Search for a food" />
                    <!-- icon search -->
                    <div class="search-form">
                      <button type="submit"><i class="ti-search"></i></button>
                    </div>
                    <!-- icon search -->
                    <div class="world-form">
                      <i class="fas fa-globe"></i>
                    </div>
                  </div>
                </form>
                <!-- Domain List -->
                <div class="single-domain pt-30 pb-30">
                  <ul>
                    <li>
                      <span>food name</span>
                    </li>
                    <li>
                      <span>like</span>
                    </li>
                    <li>
                      <span>place</span>
                    </li>
                    <li>
                      <span>tag data</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="pricing-card-area pricing-card-area-sub">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center sub-card mb-30">
                <div class="card-bottom card-bottom-sub">
                  <h1 th:text="${grade} + '위'">0위</h1>
                  <img
                          th:src="@{|/img/food/${food.food_name}.jpeg|}"
                    src="../static/img/gallery/food1.png"
                    alt=""
                    width="200px"
                    height="150px"
                    style="margin: 40px"
                  />
                  <h1 th:text="${food.food_name}">족발</h1>
                  <h4 th:text="'Total Likes = ' + ${counts}">21.3K <span>/ likes</span></h4>
                  <h4 th:text="|Best Post's Likes =| + ${food.like}"></h4>

                  <br />
                  <ul>
                    <li th:text="${tags}">2 TB of space</li>
                    <li>unlimited bandwidth</li>
                  </ul>
                  <a href="#" class="borders-btn">More</a>
                </div>
              </div>
            </div>
            <div
              class="
                col-xl-8 col-lg-8 col-md-12 col-sm-12
                single-card
                sub-card
                mb-30
                card-bottom card-bottom-sub
              "
            >
              <canvas
                class="chart-canvas"
                id="subLikeChart"
                style="
                  line-height: 1.2;
                  word-wrap: break-word;
                  font-family: Noto Sans KR, sans-serif;
                  font-size: 14px;
                  -webkit-font-smoothing: antialiased;
                  color: rgb(29, 29, 31);
                  letter-spacing: -0.05em;
                  aspect-ratio: auto 367 / 183;
                  margin: 0;
                  margin-top: 4vw;
                  padding: 20px;
                  border: 0;
                  display: block;
                  box-sizing: border-box;
                  height: 183px;
                  width: 367px;
                "
              ></canvas>
              <script th:inline="javascript">
                /*<![CDATA[*/

                const labels7 = [[${likesByDates}]];
                const num7 = [[${likes}]];
                const foodName7 = "인스타그램 좋아요 현황";

                /*]]>*/

                const data7 = {
                  labels: labels7,
                  datasets: [
                    {
                      label: foodName7,
                      backgroundColor: "rgb(255, 99, 132)",
                      borderColor: "rgb(255, 99, 132)",
                      data: num7,
                    },
                  ],
                };
                const config7 = {
                  type: "line",
                  data: data7,
                  options: {},
                };

                var myChart7 = new Chart(
                  document.getElementById("subLikeChart"),
                  config7
                );
              </script>
            </div>
          </div>
        </div>
      </section>
      <section class="load-balancing pt-top section-bg2"></section>
    </main>
    <footer>
      <div
        class="footer-wrappr section-bg"
        data-background="../static/img/gallery/footer_bg.png"
      >
        <div class="footer-area footer-padding">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>student ID</h4>
                    <ul>
                      <li><a href="#">2018038087</a></li>
                      <li><a href="#">2016039073</a></li>
                      <li><a href="#">2018038066</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Name</h4>
                    <ul>
                      <li><a href="#">Jung Wonje</a></li>
                      <li><a href="#">Shin Chiyong</a></li>
                      <li><a href="#">Park JiHyeon</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Role</h4>
                    <ul>
                      <li><a href="#">Data crawling</a></li>
                      <li><a href="#">Back-end</a></li>
                      <li><a href="#">Front-end</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <!-- logo -->
                  <div class="footer-logo mb-25">
                    <a href="index.html"
                      ><img
                        src="../static/img/logo/logo.png"
                        alt=""
                        width="270px"
                        height="100px"
                    /></a>
                  </div>
                  <div class="footer-tittle mb-50">
                    <p>
                      Subscribe our newsletter to get updates about our services
                    </p>
                  </div>
                  <!-- Form -->
                  <div class="footer-form">
                    <div id="mc_embed_signup">
                      <form
                        target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get"
                        class="subscribe_form relative mail_part"
                        novalidate="true"
                      >
                        <input
                          type="email"
                          name="EMAIL"
                          id="newsletter-form-email"
                          placeholder=" Email Address "
                          class="placeholder hide-on-focus"
                          onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Your email address'"
                        />
                        <div class="form-icon">
                          <button
                            type="submit"
                            name="submit"
                            id="newsletter-submit"
                            class="
                              email_icon
                              newsletter-submit
                              button-contactForm
                            "
                          >
                            Subscribe
                          </button>
                        </div>
                        <div class="mt-10 info"></div>
                      </form>
                    </div>
                  </div>
                  <!-- social -->
                  <div class="footer-social mt-50">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://bit.ly/sai4ull"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
          <div class="container">
            <div class="footer-border">
              <div class="row">
                <div class="col-xl-10">
                  <div class="footer-copy-right">
                    <p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      All rights reserved | This website is made with
                      <i class="fa fa-heart" aria-hidden="true"></i> by
                      <a href="index.html" target="_blank">BiBiBig</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script
      th:src="@{/js/vendor/modernizr-3.5.0.min.js}"
      src="../static/js/vendor/modernizr-3.5.0.min.js"
    ></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script
      th:src="@{/js/vendor/jquery-1.12.4.min.js}"
      src="../static/js/vendor/jquery-1.12.4.min.js"
    ></script>
    <script
      th:src="@{/js/popper.min.js}"
      src="../static/js/popper.min.js"
    ></script>
    <script
      th:src="@{/js/bootstrap.min.js}"
      src="../static/js/bootstrap.min.js"
    ></script>
    <!-- Jquery Mobile Menu -->
    <script
      th:src="@{/js/jquery.slicknav.min.js}"
      src="../static/js/jquery.slicknav.min.js"
    ></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script
      th:src="@{/js/owl.carousel.min.js }"
      src="../static/js/owl.carousel.min.js"
    ></script>
    <script
      th:src="@{/js/slick.min.js}"
      src="../static/js/slick.min.js"
    ></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/js/wow.min.js}" src="../static/js/wow.min.js"></script>
    <script
      th:src="@{/js/animated.headline.js}"
      src="../static/js/animated.headline.js"
    ></script>
    <script
      th:src="@{/js/jquery.magnific-popup.js}"
      src="../static/js/jquery.magnific-popup.js"
    ></script>

    <!-- Date Picker -->
    <script
      th:src="@{/js/gijgo.min.js}"
      src="../static/js/gijgo.min.js"
    ></script>
    <!-- Nice-select, sticky -->
    <script
      th:src="@{/js/jquery.nice-select.min.js}"
      src="../static/js/jquery.nice-select.min.js"
    ></script>
    <script
      th:src="@{/js/jquery.sticky.js}"
      src="../static/js/jquery.sticky.js"
    ></script>
    <!-- Progress -->
    <script
      th:src="@{/js/jquery.barfiller.js}"
      src="../static/js/jquery.barfiller.js"
    ></script>

    <!-- counter , waypoint,Hover Direction -->
    <script
      th:src="@{/js/jquery.counterup.min.js}"
      src="../static/js/jquery.counterup.min.js"
    ></script>
    <script
      th:src="@{/js/waypoints.min.js}"
      src="../static/js/waypoints.min.js"
    ></script>
    <script
      th:src="@{/js/jquery.countdown.min.js}"
      src="../static/js/jquery.countdown.min.js"
    ></script>
    <script
      th:src="@{/js/hover-direction-snake.min.js}"
      src="../static/js/hover-direction-snake.min.js"
    ></script>

    <!-- contact js -->
    <script th:src="@{/js/contact.js}" src="../static/js/contact.js"></script>
    <script
      th:src="@{/js/jquery.form.js}"
      src="../static/js/jquery.form.js"
    ></script>
    <script
      th:src="@{/js/jquery.validate.min.js}"
      src="../static/js/jquery.validate.min.js"
    ></script>
    <script
      th:src="@{/js/mail-script.js}"
      src="../static/js/mail-script.js"
    ></script>
    <script
      th:src="@{/js/jquery.ajaxchimp.min.js}"
      src="../static/js/jquery.ajaxchimp.min.js"
    ></script>

    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/js/plugins.js}" src="../static/js/plugins.js"></script>
    <script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
  </body>
</html>
