<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Big Star</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/img/favicon.ico}"
      href="../static/img/favicon.ico"
    />

    <!-- CSS here -->
    <link
      rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../static/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/owl.carousel.min.css}"
      href="../static/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slicknav.css}"
      href="../static/css/slicknav.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/flaticon.css}"
      href="../static/css/flaticon.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/progressbar_barfiller.css}"
      href="../static/css/progressbar_barfiller.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/gijgo.css}"
      href="../static/css/gijgo.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/animate.min.css}"
      href="../static/css/animate.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/animated-headline.css}"
      href="../static/css/animated-headline.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/magnific-popup.css}"
      href="../static/css/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fontawesome-all.min.css}"
      href="../static/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/themify-icons.css}"
      href="../static/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slick.css}"
      href="../static/css/slick.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/nice-select.css}"
      href="../static/css/nice-select.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
  </head>
  <body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img
              th:src="@{/img/logo/loder.png}"
              src="../static/img/logo/loder.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!-- Header Start -->
      <div class="header-area header-transparent">
        <div class="main-header header-sticky">
          <div class="container-fluid">
            <div
              class="
                menu-wrapper
                d-flex
                align-items-center
                justify-content-between
              "
            >
              <!-- Logo -->
              <div class="logo">
                <a href="index.html"
                  ><img
                    th:src="@{/img/logo/logo.png}"
                    src="../static/img/logo/logo.png"
                    alt=""
                    width="120px"
                    height="40px"
                /></a>
              </div>
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html"> </a></li>
                    <!-- <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="help.html">Help</a></li> -->
                  </ul>
                </nav>
              </div>
              <!-- Header-btn -->
              <div class="header-btns d-none d-lg-block f-right">
                <a href="#" class="btn">Sign In</a>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
      <!-- Hero Area Start-->
      <div class="slider-area">
        <div class="single-slider slider-height d-flex align-items-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9">
                <!-- Hero Caption -->
                <div class="hero__caption">
                  <p>Big Data System Design</p>
                  <h1>Food analysis using Instagram data</h1>
                </div>
                <!--Hero form -->
                <form action="about.html" class="search-box">
                  <div class="input-form">
                    <input
                      type="text"
                      id="foodName"
                      name="foodName"
                      placeholder="Search for a food"
                    />
                    <!-- icon search -->
                    <div class="search-form">
                      <button><i class="ti-search"></i></button>
                    </div>
                    <!-- icon search -->
                    <div class="world-form">
                      <i class="fas fa-globe"></i>
                    </div>
                  </div>
                </form>
                <!-- Domain List -->
                <div class="single-domain pt-30 pb-30">
                  <ul>
                    <li>
                      <span>food name</span>
                      <!-- <p>$15.99</p> -->
                    </li>
                    <li>
                      <span>like</span>
                      <!-- <p>$10.99</p> -->
                    </li>
                    <li>
                      <span>place</span>
                      <!-- <p>$10.99</p> -->
                    </li>
                    <li>
                      <span>tag data</span>
                      <!-- <p>$10.99</p> -->
                    </li>
                  </ul>
                </div>
                <!-- Domain List  End-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Hero Area End-->
      <!--? Pricing Card Start -->
      <section th:each="topFood : ${topFoods}"class="pricing-card-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <h4 th:text="${topFoodStat.count + '위'}">1위</h4>
                  <img
                    th:src="@{/img/gallery/food1.png}"
                    src="../static/img/gallery/food1.png"
                    alt=""
                    width="200px"
                    height="150px"
                  />
                  <h4 th:text="${topFood.likesByFood.food_name}">족발</h4>
                </div>

                <div class="card-bottom">
                  <h4 th:text="${topFood.likesByFood.totalLikes}">21.3K <span>/ likes</span></h4>
                  <br />
                  <ul>
                    <li>2 TB of space</li>
                    <li>unlimited bandwidth</li>
                  </ul>
                  <a href="#" class="borders-btn">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <h4>2위</h4>
                  <img
                    th:src="@{/img/gallery/food2.png}"
                    src="../static/img/gallery/food2.png"
                    alt=""
                    width="200px"
                    height="150px"
                  />
                  <h4>피자</h4>
                </div>

                <div class="card-bottom">
                  <h4>8.9K <span>/ likes</span></h4>
                  <br />
                  <ul>
                    <li>2 TB of space</li>
                    <li>unlimited bandwidth</li>
                  </ul>
                  <a href="#" class="borders-btn">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <h4>3위</h4>
                  <img
                    th:src="@{/img/gallery/food3.png}"
                    src="../static/img/gallery/food3.png"
                    alt=""
                    width="200px"
                    height="150px"
                  />
                  <h4>떡볶이</h4>
                </div>

                <div class="card-bottom">
                  <h4>1.3K <span>/ likes</span></h4>
                  <br />
                  <ul>
                    <li>2 TB of space</li>
                    <li>unlimited bandwidth</li>
                  </ul>
                  <a href="#" class="borders-btn">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing Card End -->
      <section
        class="load-balancing pt-top section-bg2"
        th:href="@{/img/gallery/section_bg01.png}"
        data-background="../static/img/gallery/section_bg01.png"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-11 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-90">
                <h2>Cloud Load Balancing</h2>
                <p>
                  Deploy your service infrastructure on our fully redundant,
                  high performance cloud platform and benefit from its high
                  reliability, security and enterprise feature set.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-features mb-40">
                <div class="features-icon">
                  <img
                    th:src="@{/img/gallery/right-icon.png}"
                    src="../static/img/gallery/right-icon.png"
                    alt=""
                  />
                </div>
                <div class="features-caption">
                  <h3>Instant Activation</h3>
                  <p>
                    We operate one of the most advanced 100 Gbit networks in the
                    world, complete with Anycast support and extensive DDoS
                    protection.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-features mb-40">
                <div class="features-icon">
                  <img
                    th:src="@{/img/gallery/right-icon.png}"
                    src="../static/img/gallery/right-icon.png"
                    alt=""
                  />
                </div>
                <div class="features-caption">
                  <h3>Fully Redundant</h3>
                  <p>
                    We operate one of the most advanced 100 Gbit networks in the
                    world, complete with Anycast support and extensive DDoS
                    protection.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-features mb-40">
                <div class="features-icon">
                  <img
                    th:src="@{/img/gallery/right-icon.png}"
                    src="../static/img/gallery/right-icon.png"
                    alt=""
                  />
                </div>
                <div class="features-caption">
                  <h3>Powerful Automation</h3>
                  <p>
                    We operate one of the most advanced 100 Gbit networks in the
                    world, complete with Anycast support and extensive DDoS
                    protection.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-features mb-40">
                <div class="features-icon">
                  <img
                    th:src="@{/img/gallery/right-icon.png}"
                    src="../static/img/gallery/right-icon.png"
                    alt=""
                  />
                </div>
                <div class="features-caption">
                  <h3>Powerful Automation</h3>
                  <p>
                    We operate one of the most advanced 100 Gbit networks in the
                    world, complete with Anycast support and extensive DDoS
                    protection.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-features mb-40">
                <div class="features-icon">
                  <img
                    th:src="@{/img/gallery/right-icon.png}"
                    src="../static/img/gallery/right-icon.png"
                    alt=""
                  />
                </div>
                <div class="features-caption">
                  <h3>High Performance</h3>
                  <p>
                    We operate one of the most advanced 100 Gbit networks in the
                    world, complete with Anycast support and extensive DDoS
                    protection.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-features mb-40">
                <div class="features-icon">
                  <img
                    th:src="@{/img/gallery/right-icon.png}"
                    src="../static/img/gallery/right-icon.png"
                    alt=""
                  />
                </div>
                <div class="features-caption">
                  <h3>Dedicated Support</h3>
                  <p>
                    We operate one of the most advanced 100 Gbit networks in the
                    world, complete with Anycast support and extensive DDoS
                    protection.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--? About 1 Start-->

      <!-- Map -->
      <div class="map-are section-padding40">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-11 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-90">
                <h2>Cloud Load Balancing</h2>
                <p>
                  Deploy your service infrastructure on our fully redundant,
                  high performance cloud platform and benefit from its high
                  reliability, security and enterprise feature set.
                </p>
              </div>
            </div>
          </div>
          <div class="map">
            <div class="row">
              <div class="col-xl-12">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.1786539269224!2d55.27218771500953!3d25.197196983896188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e0!3m2!1sen!2sbd!4v1588690958350!5m2!1sen!2sbd"
                  width="100%"
                  height="600"
                  frameborder="0"
                  style="border: 0"
                  allowfullscreen=""
                  aria-hidden="false"
                  tabindex="0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Map -->
      <!--? Testimonial Start -->
      <div
        class="testimonial-area testimonial-padding section-bg2"
        th:href="@{/img/gallery/section_bg04.png}"
        data-background="../static/img/gallery/section_bg04.png"
      >
        <div class="container">
          <!-- Testimonial contents -->
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
              <div class="support-caption">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle5">
                  <h2>Customer' s<br />story</h2>
                  <p class="support-details">
                    Deploy your service infrastructure on our fully redundant,
                    high cloud platform and benefit.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-10">
              <div class="h1-testimonial-active dot-style">
                <!-- Single Testimonial -->
                <div class="single-testimonial">
                  <div class="testimonial-caption">
                    <!-- founder -->
                    <div class="testimonial-founder">
                      <div class="founder-img mb-40">
                        <img
                          th:src="@{/img/gallery/testimonial.png}"
                          src="../static/img/gallery/testimonial.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="testimonial-top-cap">
                      <p>
                        We operate one of the most advanced 100 Gbit to the
                        networks in the world, complete with Anycast support and
                        extensive DDoS protection.
                      </p>
                    </div>
                    <!-- founder -->
                    <div class="testimonial-founder">
                      <div class="founder-img mb-40">
                        <span>Mark Jonson</span>
                        <p>@creative director</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single Testimonial -->
                <div class="single-testimonial">
                  <div class="testimonial-caption">
                    <!-- founder -->
                    <div class="testimonial-founder">
                      <div class="founder-img mb-40">
                        <img
                          th:src="@{/img/gallery/testimonial.png}"
                          src="../static/img/gallery/testimonial.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="testimonial-top-cap">
                      <p>
                        We operate one of the most advanced 100 Gbit to the
                        networks in the world, complete with Anycast support and
                        extensive DDoS protection.
                      </p>
                    </div>
                    <!-- founder -->
                    <div class="testimonial-founder">
                      <div class="founder-img mb-40">
                        <span>Mark Jonson</span>
                        <p>@creative director</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Brand Area Start -->
        <div class="brand-area">
          <div class="container">
            <div class="brand-active brand-border pt-50 pb-40">
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand1.png}"
                  src="../static/img/gallery/brand1.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand2.png}"
                  src="../static/img/gallery/brand2.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand3.png}"
                  src="../static/img/gallery/brand3.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand4.png}"
                  src="../static/img/gallery/brand4.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand2.png}"
                  src="../static/img/gallery/brand2.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand5.png}"
                  src="../static/img/gallery/brand5.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand6.png}"
                  src="../static/img/gallery/brand6.png"
                  alt=""
                />
              </div>
              <div class="single-brand">
                <img
                  th:src="@{/img/gallery/brand4.png}"
                  src="../static/img/gallery/brand4.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Brand Area End -->
      </div>
      <!-- Testimonial End -->

      <!--? About-2 Area Start -->
      <div class="about-area2 section-padding30">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <!-- about-img -->
              <div class="about-img">
                <img
                  th:src="@{/img/gallery/about1.png}"
                  src="../static/img/gallery/about1.png"
                  alt=""
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                  <h2>Commitment to Security</h2>
                </div>
                <p class="mb-40">
                  Deploy your service infrastructure on our fully redundant,
                  high cloud platform and benefit.
                </p>
                <a href="about.html" class="border-btn">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About-2 Area End -->
      <!-- Want To work 2-->
      <section class="wantToWork-area">
        <div class="container">
          <div class="wants-wrapper w-padding2">
            <div class="row align-items-center justify-content-between">
              <div class="col-xl-6 col-lg-6 col-md-7">
                <div class="wantToWork-caption wantToWork-caption2">
                  <h2>Need any help?</h2>
                  <p>
                    Deploy your service infrastructure on our fully redundant,
                    high cloud platform and benefit.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-5">
                <div class="double-btn f-right">
                  <a href="#" class="btn w-btn wantToWork-btn mr-20"
                    >Contact Us</a
                  >
                  <a href="#" class="border-btn w-btn wantToWork-btn"
                    >Live Chat</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Want To work End 2-->
    </main>
    <footer>
      <div
        class="footer-wrappr section-bg"
        data-background="../static/img/gallery/footer_bg.png"
      >
        <div class="footer-area footer-padding">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Company</h4>
                    <ul>
                      <li><a href="#">Why choose us</a></li>
                      <li><a href="#"> Review</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Carrier</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Products</h4>
                    <ul>
                      <li><a href="#">Why choose us</a></li>
                      <li><a href="#"> Review</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Carrier</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Support</h4>
                    <ul>
                      <li><a href="#">Technology</a></li>
                      <li><a href="#"> Products</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Quality</a></li>
                      <li><a href="#">Sales geography</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <!-- logo -->
                  <div class="footer-logo mb-25">
                    <a href="index.html"
                      ><img src="../static/img/logo/logo2_footer.png" alt=""
                    /></a>
                  </div>
                  <div class="footer-tittle mb-50">
                    <p>
                      Subscribe our newsletter to get updates about our services
                    </p>
                  </div>
                  <!-- Form -->
                  <div class="footer-form">
                    <div id="mc_embed_signup">
                      <form
                        target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get"
                        class="subscribe_form relative mail_part"
                        novalidate="true"
                      >
                        <input
                          type="email"
                          name="EMAIL"
                          id="newsletter-form-email"
                          placeholder=" Email Address "
                          class="placeholder hide-on-focus"
                          onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Your email address'"
                        />
                        <div class="form-icon">
                          <button
                            type="submit"
                            name="submit"
                            id="newsletter-submit"
                            class="
                              email_icon
                              newsletter-submit
                              button-contactForm
                            "
                          >
                            Subscribe
                          </button>
                        </div>
                        <div class="mt-10 info"></div>
                      </form>
                    </div>
                  </div>
                  <!-- social -->
                  <div class="footer-social mt-50">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://bit.ly/sai4ull"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
          <div class="container">
            <div class="footer-border">
              <div class="row">
                <div class="col-xl-10">
                  <div class="footer-copy-right">
                    <p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      All rights reserved | This template is made with
                      <i class="fa fa-heart" aria-hidden="true"></i> by
                      <a href="https://colorlib.com" target="_blank"
                        >Colorlib</a
                      >
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/animated.headline.js"></script>
    <script src="../static/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../static/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="../static/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="../static/js/contact.js"></script>
    <script src="../static/js/jquery.form.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/mail-script.js"></script>
    <script src="../static/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
